*{
 box-sizing:border-box;
 margin:0;
 padding:0;
}
body{
    color:black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
}
a{
    color:rgb(0, 119, 128);
}
.header{
    display:flex;
    flex-direction: row;
    height:100px;
}
.title{
    justify-content: center;
    align-items: center;
    margin-left:10px;
    width: 30%;
}
.pages{
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    margin-left:200px;
    width:auto;
}
.authenticate{
    margin-left:70%;
    display:flex;
    flex-direction:row;
    width:30%
}
.login{
    background:#fff200;
    border: radius 10px;
    width:70px;
    height:40px;
}
.register{
    background:#fff200;
    border: radius 10px;
    width:70px;
    height:40px;
}
.footer{
    height:150px;
    display:flex;
    flex-direction: row;
}