{% extends 'base.html %}

{% block content%}
<style>
.about_us{
    display:flex;
    flex-direction: column;
    background:rgb(3, 153, 212);
}
.about_left{
    width:50%;
    height:70%;
}
.about_right{
    width:50%;
    height:70%;
}


</style>
    <div class="about_us">
        <div class="about_left">
            <h2>Who are we?</h2> 
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                     Recusandae quo tenetur earum. Sapiente pariatur neque adipisci 
                    iusto quos ipsa quasi aspernatur doloremque nihil, atque saepe reiciendis iure facilis soluta eveniet.</p>
            <h2>What we do</h2> 
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                         Repellendus et voluptas molestias fugit debitis minima ex maiores reiciendis 
                        cupiditate alias doloribus mollitia amet ratione deserunt quam, cum animi unde voluptate.</p>
        </div>
        <div class="about_right">
            <h2>Where are we?</h2>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ut facilis alias rem dolore nisi, 
                    corrupti neque ad quidem vitae,
                     aperiam harum nostrum iusto adipisci illo ab cum perspiciatis odit possimus!</p>
            <h2>What are our products</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                         Eum nesciunt sint id natus architecto! Expedita at nihil, recusandae amet iste perferendis. 
                         At quam dignissimos perspiciatis iure tenetur nostrum sint repellat.</p>
        </div>
    </div>    

{% endblock%}